<section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="max-w-7xl mx-auto">
        <div class="pb-8 mb-15 border-b border-gray-700 items-center">
          <div class="flex flex-wrap -mx-4 items-center">
            <div class="w-full lg:w-1/2 px-4 mb-4 lg:mb-0">
              <a class="inline-block" href="#">
                <img class="h-15" src="saturn-assets/logos/logo-saturn-light.svg" alt="">
              </a>
            </div>
            <div class="w-full lg:w-1/2 px-4">
              <div class="sm:flex -mb-4 items-center lg:justify-end">
                <span class="inline-block text-white mb-4 mr-8">Ready to get collaborate?</span>
                <a class="relative group inline-block w-full sm:w-auto py-3 px-5 mb-4 text-center text-sm font-semibold text-orange-50 hover:text-orange-900 bg-orange-900 rounded-md overflow-hidden transition duration-300" href="#">
                  <div class="absolute top-0 right-full w-full h-full bg-white transform group-hover:translate-x-full group-hover:scale-105 transition duration-500"></div>
                  <span class="relative">Get Started</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap -mb-5 lg:-mx-6 items-center justify-center">
          <div class="px-6 mb-5"><a class="inline-block text-gray-300 hover:text-gray-200" href="#">Product</a></div>
          <div class="px-6 mb-5"><a class="inline-block text-gray-300 hover:text-gray-200" href="#">Features</a></div>
          <div class="px-6 mb-5"><a class="inline-block text-gray-300 hover:text-gray-200" href="#">Pricing</a></div>
          <div class="px-6 mb-5"><a class="inline-block text-gray-300 hover:text-gray-200" href="#">Resources</a></div>
          <div class="px-6 mb-5"><a class="inline-block text-gray-300 hover:text-gray-200" href="#">Careers</a></div>
          <div class="px-6 mb-5"><a class="inline-block text-gray-300 hover:text-gray-200" href="#">Help</a></div>
          <div class="px-6 mb-5"><a class="inline-block text-gray-300 hover:text-gray-200" href="#">Privacy</a></div>
        </div>
        <div class="mt-15 text-center">
          <span class="text-gray-500">© 2023 saturn. All rights reserved.</span>
        </div>
      </div>
    </div>
  </section>