---
export interface Props {
  title?: string;
}
import NavBar from "@includes/dynamic/NavBar";
import Meta from "@includes/static/Meta/Meta.astro";
import LeftVerticalMenu from "@includes/dynamic/LeftVerticalMenu";

export interface Props {
  layout?: any;
}

const { layout } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Meta />

  <body>
    <div>
      <LeftVerticalMenu />
      <div class="mx-auto lg:ml-80">
        <NavBar />
        <div class="py-8 px-6">
          <div class="container px-4 mx-auto">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
